# Fixed for Docker (Forward Slashes)
**/__pycache__/
**/*.py[codz]
**/*$py.class

# Distribution
**/.Python
**/build

# Environments
**/.env
**/.venv
.venv/**/*

# Frontend (Crucial to ignore these for a fast build)
frontend/**/node_modules
frontend/**/dist
frontend/**/logs
frontend/**/*.log

# Fly Config
fly.toml
.pytest_cache/**/*